
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head.ejs %>
</head>
<body>

<div class="container">
  <div class="row">
    <section class="col-xs-12">
      <h1>Week 4 assignment app</h1>
    </section>
  </div>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="well well-sm">
        <form class="form-horizontal" action="" method="post">
          <fieldset>
            <!-- Title -->
            <div class="form-group">
              <label for="subject" class="col-md-3 control-label"> Title </label>
              <div class="col-md-9">
                <input required id="subject" name="subject" type="text" placeholder="Please input Subject" class="form-control" >
              </div>
            </div>

            <!-- Release date -->
            <div class="form-group">
              <label class="col-md-3 control-label"> Release date</label>
              <div class="col-md-9">
                <input required id="releasedate" name="releasedate" type="date" placeholder="Please input release date" class="form-control">
              </div>
            </div>

            <!-- Duration-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name"> Duration</label>
              <div class="col-md-9">
                <input id="name" name="duration" type="number" placeholder="Duration" class="form-control">
              </div>
            </div>
            <!-- Genre-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="surname"> Genre </label>
              <div class="col-md-9">
                <input id="surname" name="surname" type="text" placeholder="Genre" class="form-control">
              </div>
            </div>

            <!-- Synopsis -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Synopsis</label>
              <div class="col-md-9">
                <textarea required class="form-control" id="message" name="message" placeholder="Synopsis" rows="5"></textarea>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="whitespace"></label>
            <div class="col-md-9">
                <button type="submit" name="save" value="submit" class="btn btn-success"> Save</button>
                <button type="submit" name="edit" value="submit" class="btn btn-warning"> Edit</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


</body>
</html>
